<!-- Lähteenä käytetty sivua: https://www.baeldung.com/thymeleaf-list -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää suoritukset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>

    <!-- Navigaatiopalkki alkaa -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Arviointikirja</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<!-- Linkit navigointipalkkiin -->
				<li class="nav-item">
					<a class="nav-link" href="/lessonlist">Oppitunnit ja suoritusmerkintöjen lisääminen</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/teachinggroups" sec:authorize="hasAnyRole('TEACHER', 'ADMIN')">Opetusryhmät ja oppilaat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myperformances" sec:authorize="hasRole('STUDENT')">Omat suoritukset</a>
				</li>
				<li class="nav-item">
					<form th:action="@{/logout}" method="post" class="nav-link p-0">
						<input type="submit" value="Kirjaudu ulos" class="btn btn-link text-white"/>
					</form>
				</li>
			</ul>
		</div>
 </nav>
<!-- Navigaatiopalkki loppuu-->
 
<h1>Lisää suorituksia</h1>

<form th:action="@{/saveperformances}" th:object="${form}" method="post">
    <p>Opetusryhmä: <span th:text="${lesson.teachingGroup.className}"></span></p>
    <p>Oppitunti: <span th:text="${lesson.lessonDay}"></span></p>
    <p>Laji: <span th:text="${lesson.sport.name}"></span></p>

    <table class="table">
        <thead>
            <tr>
                <th>Oppilas</th>
                <th>Työskentely</th>
                <th>Osaaminen</th>
                <th>Kommentit</th>
                <th>Poissaolo</th>
                <th>Ei varusteita</th>
                <th>Ei osallistunut</th>
                <th>Loukkaantunut</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="performance, iter : ${form.performances}">
                <td th:text="${performance.student.firstName} + ' ' + ${performance.student.lastName}"></td>
                <td><input type="number" th:field="*{performances[__${iter.index}__].effort}" class="form-control" min="4" max="10" step="1"></td>
                <td><input type="number" th:field="*{performances[__${iter.index}__].skills}" class="form-control" min="4" max="10" step="1"></td>
                <td><input type="text" th:field="*{performances[__${iter.index}__].shortDescription}" class="form-control"></td>
                <td><input type="checkbox" th:field="*{performances[__${iter.index}__].absence}"></td>
                <td><input type="checkbox" th:field="*{performances[__${iter.index}__].sportsEquipment}"></td>
                <td><input type="checkbox" th:field="*{performances[__${iter.index}__].participation}"></td>
                <td><input type="checkbox" th:field="*{performances[__${iter.index}__].injured}"></td>

                <input type="hidden" th:field="*{performances[__${iter.index}__].student.id}">
                <input type="hidden" th:field="*{performances[__${iter.index}__].user.id}">
                <input type="hidden" th:field="*{performances[__${iter.index}__].lesson.id}">
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Tallenna merkinnät</button>
    <button type="button" onclick="window.location.href='/lessonlist'" class="btn btn-secondary" style="margin-left: 20px;">Peruuta (tietoja ei tallenneta)</button>
</form>


<a href="/lessonlist">Takaisin oppituntilistaan</a>
</body>
</html>